@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.text-color {
  color: #388e3c;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}

a:hover {
  color: #388e3c !important;
}

body {
  background: #171717;
  padding: 20px;
  animation: fadeInAnimation ease 2s;
}

nav {
  display: flex;
  gap: 20px;
}

nav .logo {
  height: 64px;
  width: 64px;
  background: #18181b;
  border: 1px solid #27272a;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .logo i {
  font-size: 26px;
  color: #388e3c;
}

nav .links {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 66px;
  background: #18181b;
  border: 1px solid #27272a;
  border-radius: 48px;
}

nav .links a {
  margin-right: 50px;
  font-size: 20px;
}

nav .links a.active {
  font-weight: bold;
  color: #388e3c;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px 42px;
  background: #18181b;
  border: 1px solid #27272a;
  border-radius: 14px;
  margin-top: 10px;
}

.about .left h3 {
  color: #bdbdbd;
  font-size: 24px;
  font-weight: 1000;
}

.about .left .info {
  margin-top: 78px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about .left .info h2 {
  font-size: 36px;
  color: #ffff;
  font-weight: 500;
}

.about .left .info div {
  font-size: 20px;
  color: #fff;
}

.about .left .info .buttons {
  display: flex;
  gap: 14px;
}

.about .left .info .buttons button {
  font-size: 16px;
  padding: 6px 10px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.about .left .info .buttons button.hire {
  color: #fff;
  background: #388e3c;
  border: 1px solid #171717;
}

.about .left .info .buttons button.hire:hover {
  background: #4caf50;
}

.about .left .info .buttons button.email {
  color: #bdbdbd;
  background: #171717;
  border: 1px solid #27272a;
}

.about .left .info .buttons button.email:hover {
  background: #000;
}

.about .right a.online,
footer a.online {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #171717;
  border: 1px solid #27272a;
  padding: 4px 15px;
  border-radius: 14px;
  font-size: 13px;
}

.about .right a.online i,
footer a.online i {
  color: #4caf50;
  font-size: 9px;
}

.about .right img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 8px solid #2c2c2c;
  object-fit: cover;
  margin-top: 70px;
}

/* ------------ */
.abor {
  margin: 20px 0 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 1.1rem;
  background: #18181b;
  border: 1px solid #27272a;
  border-radius: 14px;
  padding: 30px;
}

.abor-img {
  text-align: center;
}

.abor-img img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 8px solid #2c2c2c;
  object-fit: cover;
}

.abor-text h2 {
  font-size: 45px;
  color: #bdbdbd;
}

.abor-text h2 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #388e3c;
}

.abor-text h4 {
  font-size: 20px;
  font-weight: 500;
  color: #388e3c;
  line-height: 1.1;
  margin: 0 0 20px;
}

.abor-text p {
  color: aliceblue;
  font-size: 16px;
  line-height: 1.1;
  text-align: justify;
}

/* works  */

.work {
  margin: 20px 0 80px 0;
}
.works .right {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40% auto;
  gap: 20px;
}

.works .right .item:first-child {
  grid-column: span 2;
  place-items: center;
}

.works .right .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  background: #18181b;
  border: 1px solid #27272a;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.works .right .item:hover a {
  color: #388e3c;
}

.works .right .item a {
  font-size: 33px;
  font-weight: 500;
}

.works .right .item > p {
  color: #bdbdbd;
  font-size: 17px;
  line-height: 26px;
}

.works .right .item:not(:first-child) {
  gap: 14px;
}

.works .right .item:not(:first-child) a {
  font-size: 15px;
}

/* Projects  */

.project-heading {
  margin-top: 8vw;
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #18181b;
  border: 1px solid #27272a;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.project-heading h2 {
  font-weight: 400;
  color: white;
  transition: all 0.3s ease;
}

.project-heading h2:hover {
  color: #388e3c;
}

.project {
  margin: 2vw 0;
  padding: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #18181b;
  border: 1px solid #27272a;
  border-radius: 14px;
}

.project .project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  gap: 1rem;
}

.project .project-grid .item {
  text-align: start;
  background: #18181b;
  padding: 2vw;
  border: 1px solid #27272a;
  border-radius: 14px;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.project .project-grid .item img {
  width: 100%;
}

.project .project-grid .item .details {
  padding: 10px;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project .project-grid .item .details h2 {
  color: #388e3c;
}

.project .project-grid .item .details .icons {
  width: 20%;
  padding: 4px;
  text-align: justify;
  display: flex;
}

.project .project-grid .item .details .icons a {
  margin: 8px;
}

.project .project-grid .item .details .icons a i {
  font-size: 1.6rem;
}

/* contact */

.contact-heading {
  margin-top: 8vw;
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #18181b;
  border: 1px solid #27272a;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-heading h2 {
  font-weight: 400;
  color: white;
  transition: all 0.3s ease;
}

.contact-heading h2:hover {
  color: #388e3c;
}

.contact {
  margin: 2vw 0;
  padding: 8vw 6vw 8vw 6vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #18181b;
  border: 1px solid #27272a;
  border-radius: 14px;
}

.contact .getin {
  width: 350px;
  padding: 20px;
  background: #18181b;
  border: 1px solid #27272a;
  border-radius: 14px;
}

.contact .getin h2 {
  color: #388e3c;
  font-size: 30px;
  font-weight: 800;
  line-height: 0.8;
  margin-bottom: 16px;
}

.contact .getin p {
  color: white;
  line-height: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e4ed;
}

.contact .getin h3 {
  color: #388e3c;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 15px;
}

.contact .getin .getin-details div {
  display: flex;
}

.contact .getin .getin-details div .get {
  font-size: 16px;
  line-height: 22px;
  color: #57935a;
  margin-right: 20px;
}

.contact .getin .getin-details div p {
  font-size: 14px;
  border-bottom: noen;
  line-height: 22px;
  margin-bottom: 15px;
}

.contact .getin .getin-details .pro-links i {
  margin-right: 16px;
  color: white;
  font-size: 1.3rem;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.contact .getin .getin-details .pro-links i:hover {
  color: #388e3c;
}

.contact .form {
  width: 60%;
  background: #18181b;
  border: 1px solid #27272a;
  padding: 40px;
  border-radius: 10px;
  transition: 0.3s ease-in;
}

.contact .form h4 {
  font-size: 24px;
  color: #388e3c;
  line-height: 30px;
  margin-bottom: 8px;
}

.contact .form .form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact .form .form-row input {
  width: 48%;
  font-size: 14px;
  font-weight: 400;
  background: #18181b;
  border: 2px solid #27272a;
  border-radius: 10px;
  color: white;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;
}

.contact .form .form-col input,
.contact .form .form-col textarea {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  background: #18181b;
  border: 2px solid #27272a;
  border-radius: 10px;
  color: white;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;
}

.contact .form button {
  font-size: 0.9rem;
  padding: 13px 25px;
  background: #388e3c;
  border-radius: 5px;
  outline: none;
  border: 1px solid;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  transition: 0.3s ease-in;
}

.contact .form button:hover {
  color: #388e3c;
  background: #fff;
  border: 1px solid #388e3c;
}

footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #18181b;
  border: 1px solid #27272a;
  padding: 45px;
  border-radius: 14px;
}

footer > a {
  font-size: 24px;
  font-weight: 500;
}

footer .socials {
  display: flex;
  align-items: center;
}

footer .socials p {
  font-size: 15px;
  font-weight: 500;
  color: #bdbdbd;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
