@media screen and (max-width: 1220px) {
  .about {
    padding: 60px 30px;
  }

  .works {
    flex-direction: column;
  }

  .works .right .item,
  footer {
    padding: 40px 30px;
  }

  .works .right {
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 992px) {
  nav .links {
    padding: 0 40px;
  }

  .abor {
    padding: 25px;
  }

  .abor-img img {
    height: 250px;
    width: 250px;
  }

  .abor-text h2 {
    font-size: 35px;
  }

  .abor-text h4 {
    font-size: 18px;
  }

  .abor-text p {
    font-size: 13px;
  }
  footer > a {
    font-size: 20px;
  }

  footer .socials a {
    font-size: 16px;
  }
}

@media screen and (max-width: 769px) {
  nav .links a {
    font-size: 16px;
  }

  .abor {
    display: flex;
    flex-direction: column;
  }

  .abor .abor-img {
    height: 250px;
    width: 250px;
  }

  .abor .abor-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about {
    flex-direction: column-reverse;
    gap: 20px;
    padding: 30px;
  }

  .about .left .info {
    margin-top: 30px;
  }

  .about .left .img {
    margin-top: 20px;
  }

  .contact {
    flex-direction: column;
  }

  .contact .getin {
    width: 100%;
    margin-bottom: 20px;
  }

  .contact .form {
    width: 100%;
  }

  footer a.online {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  /* Hamburger Menu */

  nav .links {
    margin: 0 4.8vw;
  }
  nav .links {
    height: 100vh;
    width: 91%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: top 1s ease-in;
    display: none;
  }

  nav .links a {
    margin: 20px 0 0 0;
  }

  nav .links .pro-links {
    margin-top: 50px;
  }

  nav .links .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav .openMenu {
    display: block;
    position: absolute;
    color: white;
    right: 20px;
  }

  nav .links a {
    font-size: 1.6rem;
  }

  nav .links .pro-links i {
    display: inline-block;
    padding: 12px;
  }

  /* about */
  .about .left .info h2 {
    font-size: 30px;
  }

  .about .left .info p {
    font-size: 16px;
  }

  .about .left .info .buttons button {
    font-size: 14px;
  }

  .works .right .item a {
    font-size: 20px;
  }

  .works .right .item > p,
  .works .right .item:not(:first-child) a {
    font-size: 14px;
  }

  .works .right .item:not(:first-child) p {
    font-size: 13px;
  }

  #project h2,
  #contact h2 {
    font-size: 23px;
  }

  .project .project-grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .project .project-grid .item .details {
    flex-direction: column;
  }

  .contact .getin {
    display: none;
  }

  .contact .form {
    padding: 15px;
    text-align: center;
  }

  .contact .form .form-row {
    flex-direction: column;
  }

  .contact .form .form-row input {
    width: 100%;
  }

  .contact .form button {
    width: 100%;
  }

  footer .port {
    display: none;
  }

  footer .socials {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  footer .socials p,
  footer .socials p a {
    font-size: 10px;
  }
}

@media screen and (max-width: 426px) {
}
